{% extends 'base.html' %}

{% block tittle %}
    Eliminar Empleado
{% endblock tittle %}    

{% block content %}

{% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">            
            <h1 class="cell">Eliminar empleado: {{ object.first_name}} {{object.last_name }}</h1>          
            <form class="cell" method="POST"> {% csrf_token %}   
                <div class="callout warning">
                    <h5>¿Confirma que desea eliminar este empleado?</h5>                    
                    <button class="button alert" type="submit">Eliminar</button>
                  </div>                 
                
            </form>           
        </div>
    </div>

{% endblock content %}
    

